// Bootstrap 3 core variables, overrides and mixins

@import 'imports'

@import 'normalize'
@import 'scaffolding'

// All other Boostrap 3 components
@import 'utilities'
@import 'type'
@import 'code'
@import 'grid'
@import 'tables'
@import 'forms'
@import 'buttons'
@import 'button-groups'
@import 'alerts'
@import 'close'
@import 'tooltip'
@import 'navs'
@import 'badges'
@import 'wells'
@import 'component-animations'
@import 'responsive-utilities'
@import 'input-groups'

// Custom components
@import 'components/header'
@import 'components/footer'



// Bootstrap 3 overrides & custom components
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
  font-weight: bold
  color: $gray-dark
h1, h2, h3, h4, h5, h6
  margin: 0 0 5px

h1, h3, .h1, .h3
  font-family: $font-family-serif

.h1, .h2, .h3, .h4, .h5, .h6
  display: inline-block

.panel-form
	-webkit-border-radius: 10px!important
	-moz-border-radius: 10px!important
	border-radius: 10px!important
	padding: 20px!important
	border:1px solid #ccc!important
	overflow: hidden!important

.panel-h
	width: 100%!important
	margin: 0px!important
	padding: 0px!important
	position: absolute!important
	top: 0!important
	left: 0!important
	height: 22px!important
	background-color: #30BDB4!important

.col-margen
	margin: 20px 0 0 0

.titulo
	font-weight: bold

.titulo-gris
	text-transform: uppercase
	color:#999
	margin-top:30px

.dotted
	border-top: 2px dotted #bfe5e1
	margin: 20px 0 0 0

.btn-saved
	-webkit-border-radius: 10px!important
	-moz-border-radius: 10px!important
	border-radius: 10px!important
	padding: 10px!important
	border:1px solid #ccc!important
	background-color: #CC4125!important
	color: #fff!important
	font-size: 16px
	min-width: 100px
	cursor:pointer
	text-align:center

.btn-saved:hover
	opacity:0.5

.budget p
	width:60px!important
	text-align:center!important
	float:left!important
	cursor:pointer!important
	font-size: 15px

.budget .delete	
	cursor:pointer
	width: 18px
	height: 20px
	background-image: url(/images/delete.jpg)
	background-position: center
	background-repeat: no-repeat
	padding-left:35px
	float:left
	opacity:0

.budget:hover .delete
	opacity:1

.budget .delete:hover
	opacity:0.5

.marginado-right
	text-align:right!important

.dot-off
  	height: 10px!important
  	width: 10px!important
  	border-radius: 50%!important
  	background: #fff!important
  	border:1px solid #ccc!important

.dot-on
	height: 10px!important
	width: 10px!important
	border-radius: 50%!important
	background: #30BDB4!important

.event-title
	color: #1155CC!important
	font-weight: bold
	font-size: 14px
	cursor: pointer

.event-date
	color: #000!important
	font-weight: bold
	font-size: 11px
	text-transform: uppercase

.esconde
	display: none!important

@media (max-width: 640px)
	.panel-form
  		padding: 8px!important


@media screen and (min-width: 768px) and (max-width: 1024px)
	.col-xs-1 .col-sm-1 .col-md-1 .col-lg-1 .col-xs-2 .col-sm-2 .col-md-2 .col-lg-2 .col-xs-3 .col-sm-3 .col-md-3 .col-lg-3 .col-xs-4 .col-sm-4 .col-md-4 .col-lg-4 .col-xs-5 .col-sm-5 .col-md-5 .col-lg-5 .col-xs-6 .col-sm-6 .col-md-6 .col-lg-6 .col-xs-7 .col-sm-7 .col-md-7 .col-lg-7 .col-xs-8 .col-sm-8 .col-md-8 .col-lg-8 .col-xs-9 .col-sm-9 .col-md-9 .col-lg-9 .col-xs-10 .col-sm-10 .col-md-10 .col-lg-10 .col-xs-11 .col-sm-11 .col-md-11 .col-lg-11 .col-xs-12 .col-sm-12 .col-md-12 .col-lg-12
	  padding-left: 10px
	  padding-right: 10px