extends layout
block content
	.containerla
		div(ng-view)
		hr
	footer
		p &copy; GRDJ 
			a(href='/listado')
				Hosting Admin 2015
	script(src='/javascripts/angular/angular.min.js')
	script(src='/javascripts/angular-route/angular-route.min.js')
	script(src='/javascripts/jquery/dist/jquery.min.js')
	script(src='/javascripts/bootstrap/dist/js/bootstrap.min.js')
	script(src='/javascripts/main.js')
	script(src='/javascripts/login.js')
	script(src='/javascripts/dash.js')
	script(src='/javascripts/nuevo.js')