doctype html
html
  head  	
    title= title
    meta(charset='utf-8')
    base(href='/')
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="HOST ADMIN")
    meta(name="author", content="GRDJ")
    link(rel='stylesheet', href='/javascripts/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/javascripts/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/global.css')
  body(ng-app="admin")
    block content