<hr>

<div class="col-xs-12">
    <a class="pull-right btn btn-default" href="/nuevo" role="button">+ Cliente</a>
    <form class="navbar-form navbar-right">      
      <div class="form-group">
        <input type="text" placeholder="buscar.." class="form-control" ng-model="busqueda">
      </div>      
    </form>    
</div>
<div class="clearfix"></div>

<hr>
<div class="row row-offcanvas row-offcanvas-right">
  <div class="col-xs-12 col-sm-8">
    <p class="pull-right visible-xs">
      <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
    </p>
    
    <div class="row">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">{{titulo}}</h3>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Cliente</th>
                <th><b>$</b> Mensual</th>
                <th><b>$</b> Total</th>
                <th>Constancia</th>
                <th></th>
              </tr>
            </thead>
            <tbody ng-repeat="item in clientes | filter:busqueda">
              <tr>
                <td><a href="dash/{{item._id}}">{{item.nombre}}</a></td>
                <td><a href="dash/{{item._id}}">${{item.mensual}}</a></td>
                <td><a href="dash/{{item._id}}">${{item.total}}</a></td>
                <td>{{item.constancia}}</td>
                <td><span class='label label-{{item.vencido === true ? "danger" : "success"}}'>{{item.vencido === true ? "Venció" : "Ok"}}</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div><!--/row-->
  </div><!--/.col-xs-12.col-sm-9-->

  <div class="col-xs-6 col-sm-4 sidebar-offcanvas" id="sidebar">
      <div class="list-group">
        <a href="#" class="list-group-item active">Datos del cliente</a>        
        <div class="col-xs-12">
          <div class="col-xs-5">
            <p><br>
              Nombre: <br>
              Sitio: <br>
              Teléfono: <br>
              Teléfono alt.: <br>
              Servicios: <br>
              Email: <br>
              Mensual: $<br>          
              Total: $<br>
              Constancia: <br>
              Vencimiento: <br>
           </p>
          </div>
          <div class="col-xs-7" ng-hide="isVisible">
            <p><br>
              {{cliente.nombre}}<br>
              {{cliente.sitio}}<br>
              {{cliente.telefono}}<br>
              {{cliente.telefono_alt}}<br>
              {{cliente.servicios}}<br>
              <a href="mailto:{{cliente.email}}">{{cliente.email}}</a><br>
              {{cliente.mensual}}<br>
              {{cliente.total}}<br>
              {{cliente.constancia}}<br>
              {{cliente.venceStr}} <br>
           </p>
          </div>
          <div class="col-xs-7" ng-show="isVisible">
              <form novalidate>
                <p><br>
                  <input type="text" id="nombre" ng-model="cliente.nombre"><br>
                  <input type="text" id="sitio" ng-model="cliente.sitio"><br>
                  <input type="text" id="telefono" ng-model="cliente.telefono"><br>
                  <input type="text" id="telefono_alt" ng-model="cliente.telefono_alt"><br>
                  <input type="text" id="servicios" ng-model="cliente.servicios"><br>
                  <input type="text" id="email" ng-model="cliente.email"><a href="mailto:{{cliente.email}}">{{cliente.email}}</a><br>
                  <input type="text" id="mensual" ng-model="cliente.mensual"><br>          
                  <input type="text" id="total" ng-model="cliente.total"><br>
                  <input type="text" id="constancia" ng-model="cliente.constancia"><br>
                  <input type="date" id="vencimiento" ng-model="cliente.vence.value"><br>
               </p>
             </form>
          </div> 
        </div>        
       <div class="col-xs-6">
          <a class="pull-left btn btn-danger" ng-hide="isVisible" ng-click="actualizar()" role="button">Actualizar</a>
          <a class="pull-left btn btn-danger" ng-show="isVisible" ng-click="guardar(cliente._id)" role="button">Guardar</a>
       </div>
       <div class="col-xs-6">
          <a class="pull-left btn btn-danger" ng-click="eliminar(cliente._id)" role="button">Eliminar</a>
       </div>
       <div class="col-xs-12">
          <p><br></p>
          <a class="btn btn-success" href="#" role="button">Enviar Vencimiento</a>          
        </div>       
      </div>
  </div><!--/.sidebar-offcanvas-->
</div><!--/row-->