<div class="col-xs-12">
  <div class="col-xs-4"></div>
  <div class="col-xs-4">
    <form class="form-signin" onsubmit="return false">
      <h2 class="form-signin-heading">{{titulo}} Ingresar</h2>
      <label for="inputEmail" class="sr-only">Email</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
      <label for="inputPassword" class="sr-only">Pass</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">      
      <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="ingresar()">Ingresar</button>
    </form>
  </div>
</div>