<div class="col-xs-12">
  <div class="col-xs-4"></div>
  <div class="col-xs-4">
    <form class="form-signin" onsubmit="return false">
      <h2 class="form-signin-heading">{{titulo}}</h2>
      <label for="inputEmail">Nombre</label>
      <input type="text" id="inputNombre" ng-model="nombre" class="form-control" placeholder="Nombre" required="" autofocus="">
      <label for="inputEmail">Email</label>
      <input type="email" id="inputEmail" ng-model="email" class="form-control" placeholder="Email" required="" autofocus="">
      <label for="inputEmail">Sitio Web</label>
      <input type="text" id="inputSitio" ng-model="sitio" class="form-control" placeholder="Sitio Web" required="" autofocus="">
      <label for="inputEmail">Teléfono</label>
      <input type="text" id="inputTelefono" ng-model="telefono" class="form-control" placeholder="Teléfono" autofocus="">
      <label for="inputEmail" >Teléfono Alt</label>
      <input type="text" id="inputTelefono_alt" ng-model="telefono_alt" class="form-control" placeholder="Teléfono Alt." autofocus="">
      <label for="inputEmail" >Servicios</label>
      <input type="text" id="inputServicios" ng-model="servicios" class="form-control" value="Hosting" placeholder="Servicios" required="" autofocus="">
      <label for="inputEmail" >Monto Mensual</label>
      <input type="text" id="inputServicios" ng-model="mensual" class="form-control" placeholder="$" required="" autofocus="">        
      <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="agregar()">Agregar</button>
    </form>
  </div>
</div>