@import 'mixins'
@import 'components/variables'

$text-color = rgba($link-color, 50%)

.footer
  margin-top: 30px
  border-top: 2px dotted $teal-light
  padding: 30px 0
  color: $text-color
  bottom: 0
  width: 100%

  a
    color: $text-color
    text-decoration: underline
    line-height: 1.1

  @media $media-max-phone
    .footer-nav, .contact
      margin-bottom: 15px

    .footer-nav a
      font-size: 20px
      line-height: 1.4

    // BS2
    .span6
      float: none


  @media $media-min-tablet
    .footer-nav
      li
        display: inline-block
      li + li
        margin-left: 8px

    .legal, .made-in-nyc
      text-align: right
