$backgroundColor = #69C2BA
$link-color = #f8f8f8

.navbar-default
  background-color: $backgroundColor!important
  background-image: none!important

#header
  margin-bottom: 20px
  background-color: $backgroundColor

  .logo
    position: relative
    float: left
    width: 116px
    height: 54px
    background: url(/images/header-logo.png) no-repeat
    background-size: 116px 54px
    padding-right: 28px
    margin-top: -7px
    .text
      text-indent: -999em
      overflow: hidden

  .nav
    margin: 12px 0 0
    > li
      float: left
    a
      display: block
      color: $link-color
      font-size: 16px
      padding: 3px 15px
      border-radius: 15px
      &:hover
        text-decoration: none
        background-color: rgba(0,0,0,.15)

@media (max-width: 960px)
  #header
    .container
      width: 100%
      box-sizing: border-box
      padding: 0 10px

@media (max-width: 640px)
  #header
    .primary-nav
      float: left
      clear: left
      margin: 5px 0 0 -6px


.wavy-bottom
  position: relative
.wavy-bottom:after
  content: ' '
  display: block
  position: absolute
  width: 100%
  height: 6px
  background: url(/images/bottom-teal-bg.png) repeat-x
  bottom: -6px

.navbar-static-top
  border-width: 0 0 0px!important;