<hr>

<div class="col-xs-12">
    <a class="pull-right btn btn-default" href="#" role="button">+ Cliente</a>
    <form class="navbar-form navbar-right">      
      <div class="form-group">
        <input type="text" placeholder="buscar.." class="form-control" ng-model="busqueda">
      </div>      
    </form>    
</div>
<div class="clearfix"></div>

<hr>
<div class="row row-offcanvas row-offcanvas-right">
  <div class="col-xs-12 col-sm-9">
    <p class="pull-right visible-xs">
      <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
    </p>
    
    <div class="row">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">{{titulo}}</h3>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Cliente</th>
                <th><b>$</b> Mensual</th>
                <th><b>$</b> Total</th>
                <th>Constancia</th>
              </tr>
            </thead>
            <tbody ng-repeat="item in clientes | filter:busqueda">
              <tr ng-click="filtraCliente(item.id);">
                <td>{{item.nombre}}</td>
                <td>${{item.mensual}}</td>
                <td>${{item.total}}</td>
                <td>{{item.constancia}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div><!--/row-->
  </div><!--/.col-xs-12.col-sm-9-->

  <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
      <div class="list-group">
        <a href="#" class="list-group-item active">
          Datos del cliente
        </a>
       <p><br>
          Nombre: {{cliente[0].nombre}}<br>
          Sitio: {{cliente[0].sitio}}<br>
          Teléfono: {{cliente[0].telefono}}<br>
          Teléfono alt.: {{cliente[0].celular}}<br>
          Servicios: {{cliente.servicios}}<br>
          Email: <a href="mailto:{{cliente.email}}">{{cliente[0].email}}</a><br>
          Monto: <b>${{cliente[0].monto}}</b><br>          
          Total: <b>${{cliente[0].total}}</b><br>
       </p>
       <div class="col-xs-6">
          <a class="pull-left btn btn-danger" href="#" role="button">Eliminar</a>
       </div>
       <div class="col-xs-6">
          <a class="pull-right btn btn-default" href="#" role="button">Enviar Vencimiento</a>
       </div>
      </div>
  </div><!--/.sidebar-offcanvas-->
</div><!--/row-->